@import './images.styl'

bubbles()
  .text-box
    margin 30px 40px !important
    border 1px solid transparent
    border-image-repeat stretch

    .text
      padding 5px !important
      border-radius 0 !important
      background none !important
      box-shadow none !important

.bubbles-0
  .text-box
    .text
      background #d3bb8b !important

.bubbles-1
  bubbles()

  .text-box
    border-image-source $bubbles-1
    border-image-slice 70 85 45 110 fill
    border-image-width 70px 85px 45px 110px
    border-image-outset 35px 60px 25px 65px

    .text
      margin 30px 0 15px 15px !important
      color #fffafb !important

.bubbles-2
  bubbles()

  .text-box
    border-image-source $bubbles-2
    border-image-slice 75 85 60 110 fill
    border-image-width 75px 85px 60px 110px
    border-image-outset 25px 60px 10px 65px

    .text
      margin 35px 0 15px 15px !important
      color #fffafb !important

.bubbles-3
  bubbles()

  .text-box
    border-image-source $bubbles-3
    border-image-slice 86 100 86 100 fill
    border-image-width 86px 100px 86px 100px
    border-image-outset 25px 55px 10px 60px

    .text
      margin 10px 0 20px -5px !important
      color #fffafb !important

.bubbles-4
  bubbles()

  .text-box
    border-image-source $bubbles-4
    border-image-slice 64 105 85 100 fill
    border-image-width 85px 105px 85px 100px
    border-image-outset 45px 75px 10px 85px

    .text
      margin 20px 0
      color #fffafb !important

.bubbles-5
  bubbles()

  .text-box
    border-image-source $bubbles-5
    border-image-slice 75 90 60 95 fill
    border-image-width 75px 85px 60px 95px
    border-image-outset 25px 85px 10px 70px

    .text
      margin 30px 0
      color #fffafb !important

.bubbles-6
  bubbles()

  .text-box
    border-image-source $bubbles-6
    border-image-slice 80 75 69 105 fill
    border-image-width 80px 75px 70px 100px
    border-image-outset 25px 70px 0px 75px

    .text
      margin 30px 0
      color #8c505e !important