message()
  border-radius 0 50px 0 0
  box-shadow 0 0 20px 5px rgba(0, 0, 0, 0.3)

  &:after
    position absolute
    bottom -15px
    left -15px
    box-sizing border-box
    width 100%
    height 100%
    border 5px solid rgba(180, 180, 180, 0.5)
    content ''
    pointer-events none
    clip-path polygon(0 0, 10px 0, 100% calc(100% - 10px), 100% 100%, 0 100%)
