:root
  --text-color #040406
  --title-color #121212
  --info-color #6a6a6a
  --notice-color #949595
  --message-text-hover-color var(--text-color)
  --message-icon-hover-color #050505
  --message-item-name-color #6b6b6b
  --message-item-background-color #cecece
  --message-item-img-width 280px
  --message-item-avatar-width 140px
  --message-item-avatar-margin 35px
  --message-menu-background-color #cccacd
  --menu-text-color #afaeb3
  --menu-icon-background-color #e3e3e3
  --menu-btn-hover #e4d89b
  --meni-icon-shadow 0 0 0px 5px rgba(255, 255, 255, 0.8)
  --border-color #595556
  --border-hover-color #b5b5b5
  --box-background-color #d8d8d8
  --menu-border 5px solid var(--border-color)
  --menu-border-hover 5px solid var(--border-hover-color)
  --menu-border-highlight 5px solid #f3f4f6
  --option-background-color #ece9ec
  --option-background--hover-color #cccccc
  --avatar-background #505050
  --avatar-image-clip-path-bilibiliwiki-only circle(46%)

html
  scrollbar-width none
  font-size 40px

  &::-webkit-scrollbar
    width 0
    height 0

body
  margin 0

img
  -webkit-user-drag none
  user-drag none

::-webkit-scrollbar
  width 8px
  height 8px

::-webkit-scrollbar-track
  background #c6c6c6
  margin 20px 0

::-webkit-scrollbar-thumb
  background #545454

#app
  overflow hidden
  width 100vw
  height 100vh
  display flex
  justify-content center
  align-items center
  background url('@/assets/images/主背景.webp')
  background-size cover
  background-position center

.del
  transition opacity 0.2s
  user-select none

.win-btn
  width 600px

.fade-in-enter-active
  transition all 0.2s

.fade-in-enter-from
  opacity 0

.fade-out-leave-active
  transition opacity 0.5s 1s linear

.fade-out-leave-to
  opacity 0

.fade-enter-active, .fade-leave-active
  transition all 0.2s

.fade-enter-from, .fade-leave-to
  opacity 0

.fade-enter-to, .fade-leave-from
  opacity 1

.slide-left-enter-active
  transition all 0.5s ease-out

.slide-left-enter-from
  opacity 0
  transform translateX(50%)

.slide-right-enter-active
  transition all 0.5s ease-out

.slide-right-enter-from
  opacity 0
  transform translateX(-50%)

@keyframes rotate
  from
    transform rotate(0deg)

  to
    transform rotate(-360deg)

@keyframes open
  from
    transform scaleX(0)

  to
    transform scaleX(1)
