:root
  --text-color #040406
  --title-color #121212
  --info-color #6a6a6a
  --notice-color #949595
  --message-text-hover-color var(--text-color)
  --message-icon-hover-color #050505
  --message-item-name-color #6b6b6b
  --message-item-background-color #cecece
  --message-item-img-width 280px
  --message-item-avatar-width 140px
  --message-item-avatar-margin 35px
  --message-menu-background-color #cccacd
  --menu-text-color #afaeb3
  --menu-icon-background-color #e3e3e3
  --menu-btn-hover #e4d89b
  --meni-icon-shadow 0 0 0px 5px rgba(255, 255, 255, 0.8)
  --border-color #595556
  --border-hover-color #b5b5b5
  --box-background-color #d8d8d8
  --menu-border 5px solid var(--border-color)
  --menu-border-hover 5px solid var(--border-hover-color)
  --menu-border-highlight 5px solid #f3f4f6
  --option-background-color #ece9ec
  --option-background--hover-color #cccccc
  --avatar-background #3a3a3a
  --avatar-image-clip-path-bilibiliwiki-only circle(46%)

@keyframes first
  from
    opacity 0

html
  font-size 40px
  animation first 0.8s
  scrollbar-width none

  &::-webkit-scrollbar
    width 0
    height 0

body
  margin 0

img
  -webkit-user-drag none
  user-drag none

::-webkit-scrollbar
  width 8px
  height 8px

::-webkit-scrollbar-track
  margin 20px 0
  background #c6c6c6

::-webkit-scrollbar-thumb
  background #545454

#app
  background url('@/assets/images/主背景.webp')
  background-position center
  background-size cover

.del
  transition opacity 0.2s
  user-select none

.grabbing
  *
    cursor grabbing !important

.fade-in-enter-active
  transition all 0.2s

.fade-in-enter-from
  opacity 0

.slide-left-first-enter-active
  transition all 0.5s
  transition-delay 0.3s

.slide-left-first-enter-from
  opacity 0
  transform translateX(50%)

.slide-right-first-enter-active
  transition all 0.5s
  transition-delay 0.3s

.slide-right-first-enter-from
  opacity 0
  transform translateX(-50%)

@keyframes rotate
  from
    transform rotate(0deg)

  to
    transform rotate(-360deg)

@keyframes open
  from
    transform scaleX(0)

  to
    transform scaleX(1)
