html
  scrollbar-width none

  &::-webkit-scrollbar
    width 0
    height 0

body
  margin 0
  font-family Microsoft Yahei

::-webkit-scrollbar
  width 10px
  height 10px

::-webkit-scrollbar-track
  background #c6c6c6

::-webkit-scrollbar-thumb
  background #545454

#app
  overflow hidden
  width 100vw
  height 100vh
  display flex
  justify-content center
  align-items center

.del
  transition opacity 0.2s
  user-select none

.fade-enter-active, .fade-leave-active
  transition all 0.2s

.fade-enter-from, .fade-leave-to
  opacity 0

.fade-enter-to, .fade-leave-from
  opacity 1

@keyframes rotate
  from
    transform rotate(0deg)
  to
    transform rotate(-360deg)
